@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "loader";
@import "home";
@import "modal";

.root{
    position: relative;
}
.container-categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    place-items: center;
    gap: 1rem;
}
.categorie-box{
    border: 1px solid black;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    p{
        margin: 0;
    }
}
.active-categorie-box{
    background-color:rgba(0, 0, 0, 0.514) ;
}